<div class="container">
    <nav>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="{% url "home" %}">Home</a></li>
            <li role="presentation"><a href="{% url "about" %}">About</a></li>
            <li role="presentation"><a href="{% url "contact" %}">Contact</a></li>


            {% if request.user.is_authenticated %}

                <li role="presentation"><a href="{% url "restaurants:list" %}">Restauracje</a></li>
                <li role="presentation"><a href="{% url "menus:list" %}">Itemy</a></li>

            {% endif %}


        </ul>
    </nav>
</div>